<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="Data Source=JAMES-PC\SQL2012;Initial Catalog=Eyedentify;Integrated Security=SSPI;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="DomainName" value="www.eyedentify.co.nz" />
    <add key="GoogleAPI" value="AIzaSyALp4BPp5EErc_YV_Jqghe8hpPFB8SkE0E" />
    <!--<add key="EmailTemplateFilePath" value="D:\vhosts\eyedentify.dnserver.net.nz\httpdocs\EmailTemplates\" />-->
    <add key="EmailTemplateFilePath" value="C:\Users\James\Desktop\Eyedentify\Project - Eyedentify\Eyedentify\EmailTemplates\" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <!--<pages>
      <controls>
        <add tagPrefix="artem" namespace="Artem.Web.UI.Controls" assembly="Artem.Google"/>
      </controls>
    </pages>-->

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" applicationName="/"
          name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider"
          type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <location path="Members">
    <system.web>
      <authorization>
        <allow roles="Eyedentify Admin"/>
        <allow roles="Members"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Eyedentify Admin"/>
        <deny roles="Members"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>
